# .yamllint configuration file
rules:
  document-start: disable
  line-length:
    max: 80
    level: warning
  truthy:
    level: error
  indentation:
    spaces: 2
  comments:
    require-starting-space: true
  trailing-spaces: enable
  new-line-at-end-of-file: enable
  brackets: enable
